.header {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;


    border: 1px solid red
}

.menu-sx {
    grid-column: 1/2;   
}

.logo-box {
    grid-column: 2/3;
}

.logo-box img {
    max-width: 120px;
    height: auto;
    display: block
}

.box-dx {
    grid-column: 3/4;
}

